.Modal-Delete .custom-dialog {
    top: 35%;
}

.LoaderOverlay-wrapper {
    position: fixed;
    bottom: 30%;
    left: 0%;
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, 35%);
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1100;
    padding: 50% 25%;
    color: white;
}

.LoaderOverlay-wrapper.loading {
    display: block !important;
}

.LoaderOverlay-wrapper.unload {
    display: none !important;
}

.LoaderOverlay-wrapper div {
    margin-bottom: 1rem;
}

.LoaderOverlay-wrapper div::before {
    background-color: rgb(86, 112, 40);
}

.LoaderOverlay-wrapper div::after {
    background-color: rgb(86, 112, 40);
}